################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sample Project 4
/DataModel/obj
/WebApp/obj
/WebApp/bin/Debug/net8.0
/DataModel/bin/Debug
